<div class="row-fluid job-detail-row">
  <div>
    <div class="row-fluid">
      <div class="control-group job-detail"
           data-toggle="tooltip"
           data-title="Container type"
           data-html="true"
           data-placement="bottom">
        <div class="detail">Type</div>
        <div class="display hightlight owner" >{{type}}</div>
        <div class="field cmd">
          <input class="job-input" value="{{type}}" name="type" tabindex="5" >
        </div>
        <span class="help-inline hide"></span>
      </div>
    </div>

    <div class="row-fluid">
      <div class="control-group job-detail"
           data-toggle="tooltip"
           data-title="Container image"
           data-html="true"
           data-placement="bottom">
        <div class="detail">Image</div>
        <div class="display hightlight owner" >{{image}}</div>
        <div class="field cmd">
          <input class="job-input" value="{{image}}" name="type" tabindex="5" >
        </div>
        <span class="help-inline hide"></span>
      </div>
    </div>
    <div class="row-fluid">
      <div class="control-group job-detail"
           data-toggle="tooltip"
           data-title="Container image"
           data-html="true"
           data-placement="bottom">
        <div class="detail">Force Pull Image</div>
        <div class="display hightlight owner" >{{forcePullImage}}</div>
        <div class="field cmd">
          <input class="job-input" value="{{forcePullImage}}" name="type" tabindex="5" >
        </div>
        <span class="help-inline hide"></span>
      </div>
    </div>
    <div class="row-fluid">
      <div class="control-group job-detail"
           data-toggle="tooltip"
           data-title="Container image"
           data-html="true"
           data-placement="bottom">
        <div class="detail">Parameters</div>
        <ul class="container-parameter-list"></ul>        
        <span class="help-inline hide"></span>
      </div>
    </div>
    <div class="row-fluid">
      <div class="control-group job-detail"
           data-toggle="tooltip"
           data-title="Container image"
           data-html="true"
           data-placement="bottom">
        <div class="detail">Volumes</div>
        <div class="container-volume-list" ></div>        
        <span class="help-inline hide"></span>
      </div>
    </div>    
  </div>
</div>